.header {
  width: calc(100vw - 3vw);
  height: 5vw;
  margin: auto;
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(orange),
    color-stop(yellow),
    color-stop(green),
    color-stop(cyan),
    color-stop(blue),
    to(violet)
  );
  background: linear-gradient(
    to left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
}
.header__logo {
  margin: 0;
  font-size: 2em;
  font-weight: 900;
  color: #fff;
  text-shadow: 1px 1px 8px black;
}

.header__timepiece {
  display: flex;
}

.header__text {
  margin: 0;
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 8px black;
}

.header__time {
  color: #000;
}

.header__button {
  margin: 0 1vmin;
  margin-block-end: 1em;
  padding: 0;
  background: transparent !important;
  color: blue;
  font-size: 1.5em;
  font-weight: 600;
}

.header__button:hover {
  background: transparent !important;
  color: #fff;
}

.header__button_spin {
  text-shadow: 2px 2px 2px #fff !important;
}
.header__button_spin:hover {
  text-shadow: 2px 2px 2px #000 !important;
}
