.content {
  position: relative;
  max-width: 100%;
  height: calc(97vh - 5vw - 6vmax);
  margin: auto;
  overflow: hidden;
}
.content__background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  -o-object-fit: cover;
  object-fit: cover;
}
.content__container {
  margin: 1.5vmax;
  padding: 1vmax;
  width: calc(100% - 5vmax);
  height: calc(100% - 5vmax);
  border-radius: 1vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #000;
  overflow-y: scroll;
}
.content__container::-webkit-scrollbar {
  width: 0;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.8s, visibility 0s linear 0.3s;
  -o-transition: opacity 0.8s, visibility 0s linear 0.3s;
  transition: opacity 0.8s, visibility 0s linear 0.3s;
}
.popup_opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.popup__close {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  right: -40px;
  top: -40px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  border: 0;
  background-image: url("../icons/plus.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
.popup__close:hover {
  opacity: 0.6;
}
.popup__container {
  position: relative;
  margin: auto;
  width: 85vw;
  max-height: 75vh;
  height: max-content;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-shadow: 0 0 25px rgb(0 0 0 / 15%);
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
  background: #fff;
}
.popup__image-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.popup__image {
  max-height: 75vh;
  max-width: 70vw;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0;
}
.popup__image-title {
  max-width: 25vw;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
  word-break: break-word;
}
.popup__image-content {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}
.popup__like {
  width: 4vmax;
  height: 3.5vmax;
  margin: 1vmin;
  cursor: pointer;
  border: none;
  background-image: url("../icons/like.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}

.popup__like-night {
  filter: none !important;
}

.popup__like:hover {
  opacity: 0.6;
}

.popup__like_active {
  background-image: url("../icons/like2.svg");
}

.popup__like-night_active {
  filter: initial !important;
}

.popup__comments {
  width: 100%;
  overflow: auto;
}

.popup__comments::-webkit-scrollbar {
  width: 1vmax;
}

.popup__comments::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #000;
}

.popup__comments::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(orange),
    color-stop(yellow),
    color-stop(green),
    color-stop(cyan),
    color-stop(blue),
    to(violet)
  );
  background: linear-gradient(
    to bottom,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
}

.popup__comments-item {
  margin: 1vmin;
  max-width: 20vw;
  overflow-wrap: break-word;
}
.popup__buttons {
  width: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.popup__input {
  width: -webkit-fill-available;
  margin: 1vmin;
}

.popup__input_hide {
  display: none;
}
